<h1 class="page-header">Alert</h1>
<p class="text-color example-header">
 Example
 <span class="pull-right text-color">
	<i class="fa fa-desktop" onclick="changeViewExample('desktop','kazui-example-alert')"></i>
	<i class="fa fa-mobile"  onclick="changeViewExample('mobile','kazui-example-alert')"></i>
	 <a href="http://jsfiddle.net/" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
 </span>
</p>
<div id="kazui-example-alert" class="example desktop">  
  @alert_examples.alert_example()
</div>
<h2>Uso</h2>
<p class="text-color">El objeto Alert crea  HTML din&aacute;mico para su propia construcci&oacute;n, 
   solo es necesario agregar una etiqueta HTML con un <code>id</code> para referenciarlo en javascript.</p>
<pre>
	<code  class="language-markup">
&lt;div id=&quot;alert&quot;&gt;&lt;/div&gt;
	</code>	
</pre>
<h3 class="text-color">Javascript</h3>
<p class="text-color">Creamos un objeto Alert, que recibe como par&aacute;metro el <code>HTMLElement</code></p>
<pre>
	<code  class="language-javascript">
var objAlert = new Alert(document.getElementById('alert'));
	</code>	
</pre>
<small class="ow-text-danger">*No Crear objeto con nombre <code>alert</code> por que dar&aacute; confilcto con el <code>alert()</code> de javascript.</samll>
<h3>M&eacute;todos</h3>
<p class="text-color">
 Con el objeto ya creado podemos llamar cualquiera de sus m&eacute;todos: <code class="ui-method">objAlert.danger('message')</code>.
</p>
<table class="table text-color">
   <thead>
     <tr>
       <th>Nombre</th>
       <th>Descripci&oacute;n</th>
      </tr>
   </thead>
   <tbody>
     <tr>
      <td>
       <code class="ui-method">success('message')</code>
      </td>    
      <td>
       Muestra una alerta de tipo Success.
      </td>  
     </tr>
     <tr>
      <td>
       <code class="ui-method">info('message')</code>
      </td>    
      <td>
       Muestra una alerta de tipo Info.
      </td>  
     </tr>
     <tr>
      <td>
       <code class="ui-method">warning('message')</code>
      </td>    
      <td>
       Muestra una alerta de tipo Warning.
      </td>  
     </tr>
     <tr>
      <td>
       <code class="ui-method">danger('message')</code>
      </td>    
      <td>
       Muestra una alerta de tipo Danger.
      </td>  
     </tr>
     <tr>
      <td>
       <code class="ui-method">wait('message')</code>
      </td>    
      <td>
       Muestra una alerta de tipo Wait.
      </td>  
     </tr>
     <tr>
      <td>
       <code class="ui-method">close()</code>
      </td>    
      <td>
       Cierra la alerta.
      </td>  
     </tr>
   </tbody>
</table>
<h3>Propiedades</h3>
<p class="text-color">
 Por medio de las propiedades podemos cambiar los iconos y las animaciones del objeto.
</p>
<div class="ui-callout ui-callout-danger">
    <h4>En los iconos</h4>
    <p class="text-color">
         Kazui usa <a class="link-color" href="http://fontawesome.io/" target="_blank">fontawesome</a>.<br/>
         Se puede acceder a las propiedades y cambiar los iconos del objeto usando la 
         <code>clase</code> correcta  <code class="ui-method">objAlert.icoSuccess = 'fa-smile-o'</code>   
    </p>        
  </div>
  <table class="table text-color">
    <thead>
      <tr>    
        <th>Nombre</th>
        <th>Descripci&oacute;n</th>
     </tr>
    </thead>
    <tbody>
     <tr>
       <td><Code class="ui-method">icoSuccess</Code></td>
       <td>Icono de alerta tipo Success</td>
     </tr>
     <tr>
       <td><Code class="ui-method">icoInfo</Code></td>
       <td>Icono de alerta tipo Info</td>
     </tr>
     <tr>
       <td><Code class="ui-method">icoWarning</Code></td>
       <td>Icono de alerta tipo Warning</td>
     </tr>
     <tr>
       <td><Code class="ui-method">icoDanger</Code></td>
       <td>Icono de alerta tipo Danger</td>
     </tr>
     <tr>
       <td><Code class="ui-method">icoWait</Code></td>
       <td>Icono de alerta tipo Wait,usar <a href="http://fontawesome.io/examples/#spinning" class="link-color"  target="_blank">Spinning Icons</a></td>
     </tr>
    </tbody>    
  </table>
  <div class="ui-callout ui-callout-danger">
    <h4>Para las animaciones</h4>
    <p class="text-color">
         Kazui cuenta con su propia libreria de <a class="link-color" href="#kazui-animation" target="_blank">animaciones</a>.<br/>
         Tambi&eacute;n se puede acceder a las propiedades y cambiar los iconos del objeto usando la 
         <code>clase</code> correcta  <code class="ui-method">objAlert.animationIn = 'ui-fade-in'</code>   
    </p>        
  </div>
    <table class="table text-color">
    <thead>
      <tr>    
        <th>Nombre</th>
        <th>Descripci&oacute;n</th>
     </tr>
    </thead>
    <tbody>
     <tr>
       <td><Code class="ui-method">typeAnimation</Code></td>
       <td>Tipo de animaci&oacute;n a usar: <code>ui-ease</code>,<code>ui-ease-in</code>,etc.</td>
     </tr>
     <tr>
       <td><Code class="ui-method">animationIn</Code></td>
       <td>Animaci&oacute;n cuando se muestra la alerta: <code>ui-fade-in</code>,<code>ui-fade-in-up</code>,etc.</td>
     </tr>
     <tr>
       <td><Code class="ui-method">animationOut</Code></td>
       <td>Animaci&oacute;n cuando se cierra la alerta: <code>ui-fade-out</code>,<code>ui-fade-out-up</code>,etc.</td>
     </tr>
    </tbody>
  </table>