<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="alert-select-example"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="select-items-example" class="ui-select"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12">
        <button type="button" id="btnSelectGetOption" class="btn btn-primary btn-block">Get option</button>
        <button type="button" id="btnSelectGetValue" class="btn btn-primary btn-block">Get value</button>
        <div class="checkbox pull-right">
            <label>
                <input type="checkbox" value="disabled" id="chkSelectDisabled">
                Disabled
            </label>
        </div>
    </div>
</div>
<script>
    var alertSelectExample = new Alert(document.getElementById('alert-select-example'));
    var items = new Select(document.getElementById('select-items-example'), [
        { option: 1, value: 'item 1'},
        { option: 2, value: 'item 2'},
        { option: 3, value: 'item 3'},
        { option: 4, value: 'item 4', selected: true },
        { option: 5, value: 'item 5'}
    ]);

        document.getElementById('btnSelectGetOption').onclick = function () {
        if (!items.isDisabled())
            alertSelectExample.info('Option is: ' + items.getOption());

    }
    document.getElementById('btnSelectGetValue').onclick = function () {
        if (!items.isDisabled())
            alertSelectExample.info('Value is: ' + items.getValue());
    }
    document.getElementById('chkSelectDisabled').onclick = function () {
        items.setDisabled(this.checked);
    }


</script>