<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="select-icons-example" class="ui-select"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="select-images-example" class="ui-select"></div>
    </div>
</div>

<script>
    
    var selectIcons = new Select(document.getElementById('select-icons-example'), [
        { option: 1, value: 'item 1', icon: 'fa-star-o' },
        { option: 2, value: 'item 2', icon: 'fa-thumb-tack' },
        { option: 3, value: 'item 3', icon: 'fa-trophy' },
        { option: 4, value: 'item 4', icon: 'fa-star-o', selected: true },
        { option: 5, value: 'item 5', icon: 'fa-thumb-tack' }
    ], { icon: true });
    
    var selectImages = new Select(document.getElementById('select-images-example'), [
        { option: 1, value: 'Beth Stewart', image: '/assets/images/profile/prof-1.jpg' },
        { option: 2, value: 'Norma Bailey', image: '/assets/images/profile/prof-2.jpg' },
        { option: 3, value: 'Riley Richards', image: '/assets/images/profile/prof-3.jpg' },
        { option: 4, value: 'Brittany Hunt', image: '/assets/images/profile/prof-4.jpg', selected: true }        
    ], {image:true});    

</script>