<h1 class="page-header">Select</h1>
<p class="text-color example-header">
 Example
 <span class="pull-right text-color">
	<i class="fa fa-desktop" onclick="changeViewExample('desktop','kazui-example-select')"></i>
	<i class="fa fa-mobile"  onclick="changeViewExample('mobile','kazui-example-select')"></i>
	 <a href="http://jsfiddle.net/" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
 </span>
</p>
<div id="kazui-example-select" class="example desktop">  
  @select_examples.select_example()
</div>
<h2>Uso</h2>
<p class="text-color">El objeto Alert crea  HTML din&aacute;mico para su propia construcci&oacute;n, 
   solo es necesario agregar una etiqueta HTML con un <code>id</code> para referenciarlo en javascript.</p>
<pre>
	<code  class="language-markup">
&lt;div id=&quot;alert&quot;&gt;&lt;/div&gt;
	</code>	
</pre>
