@(title: String,display:String,header:String,description:String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Kazumi user interface javascript framework for web and mobile">
<meta name="author" content="Yonatan Alexis Quintero Rodriguez | yonax73gmail.com /yonaxtics.com">
<title>@title</title>
<link id="theme" rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/kazui/themes/monster.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/kazui/font-awesome.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/kazui/kazui.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/page.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/hl-github.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/kazui/kazui.js")"></script>
</head>
<body>
 <div class="bg-white">
	<nav class="navbar navbar-default ui-navbar">
		<div class="container">
			<div class="navbar-header ">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Kazui</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav ">
					<li>
					 <a class="ui-link" href="#">Empezando</a>
					</li>
					<li>
					  <a class="ui-link" href="/components">Componentes</a>
					 </li>
					<li>
					  <a class="ui-link" href="#contact">API</a>
					</li>
					<li>
					  <a class="ui-link" href="#contact">Licencia</a>
					</li>
					<li>
					  <a class="ui-link" href="#contact">Nosotros</a>
					</li>
				</ul> 
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown ">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-paint-brush fw">&nbsp;&nbsp;&nbsp;Monster</i>
                        <span class="caret"></span>
                       </a>
					  <ul class="dropdown-menu">
					     <li>
					       <div class="ui-navbar-content row">
					         <p><strong>Seleccione tema</strong></p>
					         <ul class="col-md-4 palette">		                          
		                          <li>
	                                <div class="day-primary"></div>
                                    <div class="day-text"></div>
                                    <div class="day-bg"></div>
		                            Tema Day 
		                          </li>
		                          <li>
	                                <div class="hiroki-primary"></div>
                                    <div class="hiroki-text"></div>
                                    <div class="hiroki-bg"></div>
		                            Tema Hiroki
		                          </li>	
		                          <li>
	                                <div class="holo-dark-primary"></div>
                                    <div class="holo-dark-text"></div>
                                    <div class="holo-dark-bg"></div>
		                            Tema Holo dark
		                          </li>
		                          <li>
	                                <div class="holo-light-primary"></div>
                                    <div class="holo-light-text"></div>
                                    <div class="holo-light-bg"></div>
		                            Tema Holo light
		                          </li>	
		                        </ul>
					            <ul class="col-md-4 palette">		                          
		                          <li>
	                                <div class="ios7-primary"></div>
                                    <div class="ios7-text"></div>
                                    <div class="ios7-bg"></div>
		                            Tema iOS-7 
		                          </li>
		                          <li>
	                                <div class="kazui-dark-primary"></div>
                                    <div class="kazui-dark-text"></div>
                                    <div class="kazui-dark-bg"></div>
		                            Tema Kazui Dark
		                          </li>	
		                          <li>
	                                <div class="kazui-light-primary"></div>
                                    <div class="kazui-light-text"></div>
                                    <div class="kazui-light-bg"></div>
		                            Tema Kazui Light
		                          </li>
		                          <li>
	                                <div class="metro-primary"></div>
                                    <div class="metro-text"></div>
                                    <div class="metro-bg"></div>
		                            Tema Metro
		                          </li>	
		                        </ul>
					            <ul class="col-md-4 palette">		                          
		                          <li>
	                                <div class="monster-primary"></div>
                                    <div class="monster-text"></div>
                                    <div class="monster-bg"></div>
		                            Tema Monster 
		                          </li>
		                          <li>
	                                <div class="nigth-primary"></div>
                                    <div class="nigth-text"></div>
                                    <div class="nigth-bg"></div>
		                            Tema Nigth
		                          </li>	
		                          <li>
	                                <div class="simple-primary"></div>
                                    <div class="simple-text"></div>
                                    <div class="simple-bg"></div>
		                            Tema Simple	
		                          </li>
		                          <li>
	                                <div class="yukiko-primary"></div>
                                    <div class="yukiko-text"></div>
                                    <div class="yukiko-bg"></div>
		                            Tema Yukiko
		                          </li>	
		                        </ul>
					       </div>
					     </li>
					  </ul>
					</li>
				</ul>				
			</div>		
		</div>
	</nav>
    <header class="@display marquee">
     <div class=" container">
        <div class="row">
          <div class="col-md-8">
             <h1 class="text-white">@header</h1>
	         <h3 class="text-gray text-indent-6">
	          @description      
	        </h3>
          </div>
        </div>
     </div>
    </header>	
	<section class="container">@content</section>
</div>
	<script src="@routes.Assets.at("javascripts/highlight.pack.js")"></script>
	<script>	   
	   Utils.showActiveLink(document.getElementById('navbar'));
	   
	   var examples = document.getElementsByClassName('example');
	   var body = document.getElementsByTagName('body')[0];console.log(body);
	   var bg = window.getComputedStyle(body, false).getPropertyValue('background-color');
	   console.log(bg);
	   var n = examples.length;
	   for(var i = 0; i < n;i++){
		   var example = examples[i];console.log(example);
		   example.style.backgroundColor = bg;
	   }
	</script>
	
	
</body>
</html>
