<h1 class="page-header">Animaciones</h1>
<p class="text-color">Kazui ofrece una amplia variedad de animaciones css f&aacute;ciles de usar.</p>
<div id="kazui-example-animations" class="example">
    @animations_examples.animations_example()
</div>
<h2>Uso</h2>
<p class="text-color">
    Las animaciones estan distribuidas en tres clases que son el tipo de animaci&oacute;n,la funci&oacute;n y la duraci&oacute;n. Con esta combinaci&oacute;n
    podemos crear asombrosas animaciones en segundos.
</p>
<pre>
<code class="language-markup">
&lt;div class=&quot;ui-ease ui-fade-in ui-2s&quot;&gt;&lt;/div&gt;
	</code>	
</pre>

<h3>Clases para definir el tipo de animaci&oacute;n</h3>
<table class="table text-color">
    <tbody>
        <tr>
            <td>
                <code class="ui-method">ui-ease</code>
            </td>
        </tr>
        <tr>
            <td>
                <code class="ui-method">ui-ease-in</code>
            </td>
        </tr>
        <tr>
            <td>
                <code class="ui-method">ui-ease-out</code>
            </td>
        </tr>
        <tr>
            <td>
                <code class="ui-method">ui-ease-in-out</code>
            </td>
        </tr>
        <tr>
            <td>
                <code class="ui-method">ui-linear</code>
            </td>
        </tr>
    </tbody>
</table>
<h3>Clases para definir la funci&oacute;n de la animaci&oacute;n</h3>
<div class="row">
    <div class="col-md-4">
        <table class="table text-color">
            <tbody>
                <tr><td><code class="ui-method"> ui-bounce </code></td></tr>
                <tr><td><code class="ui-method"> ui-bounce-in</code></td></tr>
                <tr><td><code class="ui-method"> ui-bounce-in-up</code></td></tr>
                <tr><td><code class="ui-method"> ui-bounce-in-down</code></td></tr>
                <tr><td><code class="ui-method"> ui-bounce-in-left</code></td></tr>
                <tr><td><code class="ui-method"> ui-bounce-in-right</code></td></tr>
                <tr><td><code class="ui-method"> ui-bounce-out</code></td></tr>
                <tr><td><code class="ui-method"> ui-bounce-out-up</code></td></tr>
                <tr><td><code class="ui-method"> ui-bounce-out-down</code></td></tr>
                <tr><td><code class="ui-method"> ui-bounce-out-left</code></td></tr>
                <tr><td><code class="ui-method"> ui-bounce-out-right</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-in</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-in-up</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-in-down</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-in-left</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-in-right</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-in-up-big</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-in-down-big</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-in-left-big</code></td></tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table text-color">
            <tbody>
                <tr><td><code class="ui-method"> ui-fade-in-right-big</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-out</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-out-up</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-out-down</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-out-left</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-out-right</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-out-up-big</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-out-down-big</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-out-left-big</code></td></tr>
                <tr><td><code class="ui-method"> ui-fade-out-right-big</code></td></tr>
                <tr><td><code class="ui-method"> ui-flash</code></td></tr>
                <tr><td><code class="ui-method"> ui-flip</code></td></tr>
                <tr><td><code class="ui-method"> ui-flip-in-x</code></td></tr>
                <tr><td><code class="ui-method"> ui-flip-out-x</code></td></tr>
                <tr><td><code class="ui-method"> ui-flip-in-y</code></td></tr>
                <tr><td><code class="ui-method"> ui-flip-out-y</code></td></tr>
                <tr><td><code class="ui-method"> ui-hinge</code></td></tr>
                <tr><td><code class="ui-method"> ui-light-speed-in</code></td></tr>
                <tr><td><code class="ui-method"> ui-light-speed-out</code></td></tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table text-color">
            <tbody>
                <tr><td><code class="ui-method"> ui-pulse</code></td></tr>
                <tr><td><code class="ui-method"> ui-rotate-in</code></td></tr>
                <tr><td><code class="ui-method"> ui-rotate-in-up-left</code></td></tr>
                <tr><td><code class="ui-method"> ui-rotate-in-down-left</code></td></tr>
                <tr><td><code class="ui-method"> ui-rotate-in-up-right</code></td></tr>
                <tr><td><code class="ui-method"> ui-rotate-in-down-right</code></td></tr>
                <tr><td><code class="ui-method"> ui-rotate-out</code></td></tr>
                <tr><td><code class="ui-method"> ui-rotate-out-up-left</code></td></tr>
                <tr><td><code class="ui-method"> ui-rotate-out-down-left</code></td></tr>
                <tr><td><code class="ui-method"> ui-rotate-out-up-right</code></td></tr>
                <tr><td><code class="ui-method"> ui-rotate-out-down-right</code></td></tr>
                <tr><td><code class="ui-method"> ui-roll-in</code></td></tr>
                <tr><td><code class="ui-method"> ui-roll-out</code></td></tr>
                <tr><td><code class="ui-method"> ui-shake</code></td></tr>
                <tr><td><code class="ui-method"> ui-swing</code></td></tr>
                <tr><td><code class="ui-method"> ui-tada</code></td></tr>
                <tr><td><code class="ui-method"> ui-wiggle</code></td></tr>
                <tr><td><code class="ui-method"> ui-wobble</code></td></tr>
            </tbody>
        </table>
    </div>
</div>
<h3>Clases para definir la duraci&oacute;n de animaci&oacute;n en segundos</h3>
<table class="table text-color">
    <tbody>
        <tr>
            <td>
                <code class="ui-method">ui-1s</code>
            </td>
        </tr>
        <tr>
            <td>
                <code class="ui-method">ui-2s</code>
            </td>
        </tr>
        <tr>
            <td>
                <code class="ui-method">ui-3s</code>
            </td>
        </tr>
        <tr>
            <td>
                <code class="ui-method">ui-4s</code>
            </td>
        </tr>
        <tr>
            <td>
                <code class="ui-method">ui-5s</code>
            </td>
        </tr>
    </tbody>
</table>