pre{
	padding: 0;
	 border-color: #ededed;
}

pre[class*="language-"]:before, pre[class*="language-"]:after {
    display: flex;
}
pre[class*="language-"] {
	background-image: none;
    background-origin: content-box;
    background-size: 3em 3em;
    border-left: 2px solid #358ccb;
    box-shadow:none;
    max-height: 30em;
    overflow: visible;
    position: relative;
}
code[class*="language"] {
    display: inline-block;
}
.token.function {
    color: #333;
}
.token.keyword{
	font-weight: bolder;
}

.navbar {    
    margin-bottom: 0;
}
.navbar-default {
	background-color: #fff;
	border-color: #fff #fff #4385f5 #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #f9f9f9;
    color: #555555;
}

.navbar-default .navbar-brand {
	color: #4385f5;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #f9f9f9;
    color: #555555;
}

.dropdown-menu {    
    background-color: #fff;
    color: #333;
}

a:hover, a:focus {
    color: #bbb;    
}
.ow-text-warning{
	color: #e5a603;
}
.ow-text-danger{
	color: #bf2e21;
}

