@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url('overwrite-theme.css');
@import url('palette.css');

body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {	
	font-family: 'Ubuntu',Helvetica Neue,Helvetica, sans-serif;
}
.marquee {
    background-color: #4385f5;
    background-image: url("/assets/images/bg.png");
    padding: 60px 15px 30px;
}

.marquee h1 {
    font-size: 4.5em;
}

.pad-12 {
	padding-top: 12%;
}

.text-indent-6 {
	padding-left: 6px;
}

.text-gray {
	color: rgba(255, 255, 255, .8);
}

.text-white {
	color: #fff;
}

.components h1,.components h2,.components h3{
	color: #333;
}
.lead {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
}
.bg-white{
    background-color: #fff;
    height: auto;
    margin: 0;
    padding: 0;
}
.text-color{
	color:#333333;
}
.link-color {
    color: #4385f5;    
}
.link-color:hover{
	color:#444;
}
.example-header i {
	color:#333333;    
    font-size: 1.6em;
    padding-right: 0.6em;
    cursor: pointer;
    padding-bottom: 0.5em;
}
.example-header a:hover {
	color:#333333;
}
.example{
    border-color: #000000;
    border-radius: 20px 20px 10px 10px;
    border-style: solid;
    border-width: 10px 10px 35px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;    
    padding: 30px;
}
.desktop{
	min-height: 18em;
	max-height: 18em;
	height: 18em;	
}
.mobile{
	height: 30em;
	margin: 0 auto;	
	max-height: 30em;		
	max-width: 18em;	
	min-height: 30em;
		
}
.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
}
.ui-callout {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}

.ui-callout-danger{
	border-left-color:#dc4437; 
}
.ui-callout-danger h4 {
  color: #dc4437;
}
