@import templates._
@main("Kazui","hidden","",""){

<style>
	body {
		background-color: #4385f5;
		background-image: url("/assets/images/bg.png");
	}
	h1.text-white {
		font-size: 5em;
	}
</style>
<div class="pad-12">
	<h1 class="text-white">
		<b>Kazui</b>
	</h1>
	<h3 class="text-gray text-indent-6">
		 R&aacute;pido,flexible y minimalista
		 <br> framework javascript 	para
		 <br> desarrollar sorprendentes aplicaciones
		 <br> para 	web y m&oacute;vil. Inspirado en
		 <span>
		  <a class="text-gray" target="_blank" href="http://getbootstrap.com/">Bootstrap.</a>
		</span>
		<br/>
		<br/>
		<b>
		   <a class="text-white" href="#">Descargar Kazui</a>
		</b>
	</h3>
	<small class=" text-indent-6 text-gray">Actualmente v0.1</small>
</div>

}
