@import templates._
@main(title = "Kazui"){

<h1 class="text-primary"><b>Kazui</b></h1>
<h3 class="text-muted text-indent-6">
  R&aacute;pido,flexible y minimalista <br>
  framework javascript para <br>
  desarrollar sorprendentes aplicaciones <br>
  para web y m&oacute;vil. Inspirado en 
  <span>
    <a target="_blank" href="http://getbootstrap.com/">Bootstrap.</a>
  </span>
</h3>    
<h2>
  <b>
    <a class="text-info" href="#">Descargar Kazui</a>
  </b>    
</h2>
<small class="text-muted">Actualmente v0.1</small>	

}
