<h1 class="page-header">Popup</h1>
<p class="text-color example-header">
    Ejemplo
    <span class="pull-right text-color">
        <i class="fa fa-desktop" onclick="changeViewExample('desktop','kazui-example-popup')"></i>
        <i class="fa fa-mobile" onclick="changeViewExample('mobile','kazui-example-popup')"></i>
        <a href="http://jsfiddle.net/" target="_blank"><i class="fa fa-pencil-square-o"></i></a>
    </span>
</p>
<div id="kazui-example-popup" class="example mobile">
    @popup_examples.popup_example()
</div>
