/*
* KAZUI v01 (http://www.kazui.io)
* Copyright 2014 YonaxTics. All rights reserved.
*
* KAZUI commercial licenses may be obtained at
* http://www.kazui.io/purchase/license-agreement/kazui-complete
* If you do not own a commercial license, this file shall be governed by the trial license terms.
*/
@import url('font-awesome.min.css');
@import url('animations.css');
.ui-navbar .nav, .ui-navbar .dropup, .ui-navbar .dropdown,
	.ui-navbar .collapse {
	position: static;
}

.ui-navbar .navbar-inner, .ui-navbar .container {
	position: relative;
}

.ui-navbar .dropdown-menu {
	left: auto;
}

.ui-navbar .dropdown-menu>li {
	display: block;
}

.ui-navbar .dropdown-submenu .dropdown-menu {
	left: 100%;
}

.ui-navbar .nav.pull-right .dropdown-menu {
	right: 0;
}

.ui-navbar .ui-navbar-content {
	padding: 20px 30px;
	*zoom: 1;
}

.ui-navbar .ui-navbar-content:before, .ui-navbar .ui-navbar-content:after{
	display: table;
	content: "";
	line-height: 0;
	width: 100vh;
}

.ui-navbar .ui-navbar-content:after {
	clear: both;
}

.ui-navbar.navbar .nav>li>.dropdown-menu:after, .ui-navbar.navbar .nav>li>.dropdown-menu:before	{
	display: none;
}

.ui-navbar .dropdown.ui-navbar-fullwidth .dropdown-menu {
	width: 100%;
	left: 0;
	right: 0;
}

@media ( max-width : 969px) {
	.ui-navbar .dropdown.ui-navbar-fullwidth .dropdown-menu {
		width: auto;
	}
	.ui-navbar .ui-navbar-content {
		padding-left: 0;
		padding-right: 0;
	}
	.ui-navbar .dropdown-menu>li>ul {
		display: block;
	}
}