<style>
    #clock-time-zone .table.ui-clock tr:not(.ui-clock-controls) td {
        font-size: 120%;
    }
    #select-time-zone .form-control-ui-image {
        border-radius: 20px;
    }
    #select-time-zone .ui-image-item {
        height: 24px;
        width: 24px;
        border-radius: 20px;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="alert-clock-time-zone-example"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="clock-time-zone"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="select-time-zone" class="ui-select"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12">
        <button class="btn btn-primary btn-block" id="clock-time-zone-get-time">Get Time</button>
    </div>
</div>
<script>
    var alertClockTimeZone = new Alert(document.getElementById('alert-clock-time-zone-example'));
    var clockTimeZone = new Clock(document.getElementById('clock-time-zone'));
    clockTimeZone.setHiddenControls(true);
    clockTimeZone.standardTime();

    var selectFlags = new Select(document.getElementById('select-time-zone'), [
    { option: 1, value: 'Local Time', image: '/assets/images/flag/clock.png', selected: true },
    { option: 2, value: 'London', image: '/assets/images/flag/Flags-UK.png' },
    { option: 3, value: 'New York', image: '/assets/images/flag/Flags-USA.png' },
    { option: 4, value: 'Honk Kong', image: '/assets/images/flag/Flags-CHINA.png' },
    { option: 5, value: 'Dubai', image: '/assets/images/flag/Flags-EMIRATES.png' },
    { option: 6, value: 'Paris', image: '/assets/images/flag/Flags-FRANCE.png' },
    ], { image: true });

    var GMT = [0, -5, 8, 4, 1];
    
    selectFlags.onchange(function () {
        var option = selectFlags.getOption();
        if (option > 1) {
            clockTimeZone.reset();
            clockTimeZone.setStandardTime(calcTime(GMT[option - 2]));
        } else {
            clockTimeZone.standardTime();
        }        
    });

    document.getElementById('clock-time-zone-get-time').onclick = function () {
        alertClockTimeZone.info(clockTimeZone.getDateTime());
    }

    /**
    * function to calculate local time
    * in a different city
    * given the city's UTC offset
    */
    function calcTime(offset) {        
        var d = new Date(); // create Date object for current location
        /**
        * convert to msec
        * add local time zone offset
        * get UTC time in msec
        */
        utc = d.getTime() + (d.getTimezoneOffset() * 60000);
        /**
        * create new Date object for different city
        * using supplied offset
        */
        return new Date(utc + (3600000 * offset));        
    }

</script>
