
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div id="alert-clock-example"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div id="clock"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<button type="button" id="btnClockTimeStop"
			class="btn btn-primary btn-block btn-xs">Stop</button>
		<button type="button" id="btnClockTimeReset"
			class="btn btn-primary btn-block  btn-xs">Reset</button>
		<button type="button" id="btnClockTimeStart"
			class="btn btn-primary btn-block  btn-xs">Start</button>
		<button class="btn btn-primary btn-block btn-xs" id="btnStandardTime"
			type="button">Standard Time</button>
		<button class="btn btn-primary btn-block btn-xs" id="btnMilitaryTime"
			type="button">Military Time</button>
		<button class="btn btn-primary btn-block btn-xs" id="btnCountUp"
			type="button">Count Up</button>
		<button class="btn btn-primary btn-block btn-xs" id="btnCountDown"
			type="button">Count Down</button>
	</div>
</div>
<script>
    var alertClock = new Alert(document.getElementById('alert-clock-example'));
	var clock = new Clock(document.getElementById('clock'));
	clock.militaryTime();

	document.getElementById('btnClockTimeStop').onclick = function() {
		clock.stop();
	};
	document.getElementById('btnClockTimeReset').onclick = function() {
		clock.reset();
	};

	document.getElementById('btnClockTimeStart').onclick = function() {
		clock.start();		
	};

	document.getElementById('btnStandardTime').onclick = function() {
		clock.reset();
		clock.standardTime();
	};

	document.getElementById('btnMilitaryTime').onclick = function() {
		clock.reset();
		clock.militaryTime();
	};
	
	document.getElementById('btnCountDown').onclick = function() {
		clock.reset();
		clock.countDown(function(){
			alertClock.warning('Time Out!!!');			
		});
	};


</script>
