  <div class="row">
     <div class="col-md-12 col-sm-12" id="alert"></div>
   </div>   
   <div class="row">
     <div class="col-md-12 col-sm-12">
        <button type="button" id="alert-success" class="btn btn-success">Alert Success</button>
        <button type="button" id="alert-info" class="btn btn-info">Alert Info</button>
        <button type="button" id="alert-warning" class="btn btn-warning">Alert Warning</button>
        <button type="button" id="alert-danger" class="btn btn-danger">Alert Danger</button>
        <button type="button" id="alert-wait" class="btn btn-info">Alert Wait</button>
        <button type="button" id="alert-close" class="btn btn-primary">Close Alert</button>
     </div>      
   </div>
   <script>
     var alert = new Alert(document.getElementById('alert'));      
     alert.success('Alert Success');  
     document.getElementById('alert-success').onclick = function(){
   	alert.success('Alert Success');  
     };
     document.getElementById('alert-info').onclick = function(){
   	  alert.info('alert Info');
     };
     document.getElementById('alert-warning').onclick = function(){
   	  alert.warning('Alert Warning');
     }
     document.getElementById('alert-danger').onclick = function(){
   	  alert.danger('Alert Danger');
     }
     document.getElementById('alert-wait').onclick = function(){
   	  alert.wait('Alert Wait');
     }
     document.getElementById('alert-close').onclick = function(){
   	  alert.close();
     }
   </script>