  <div class="row">
     <div class="col-md-12 col-sm-12" id="alert"></div>
   </div>   
   <div class="row">
     <div class="col-md-12 col-sm-12">
        <button type="button" id="alert-success" class="btn btn-success btn-block">Alert Success</button>
         <button type="button" id="alert-info" class="btn btn-info btn-block">Alert Info</button>
         <button type="button" id="alert-warning" class="btn btn-warning btn-block">Alert Warning</button>
         <button type="button" id="alert-danger" class="btn btn-danger btn-block">Alert Danger</button>
         <button type="button" id="alert-wait" class="btn btn-info btn-block">Alert Wait</button>
         <button type="button" id="alert-close" class="btn btn-primary btn-block">Close Alert</button>
     </div>      
   </div>
   <script>
     var objAlert = new Alert(document.getElementById('alert'));     
     objAlert.success('Alert Success');  
     document.getElementById('alert-success').onclick = function(){
    	objAlert.success('Alert Success');  
     };
     document.getElementById('alert-info').onclick = function(){
   	  objAlert.info('Alert Info');
     };
     document.getElementById('alert-warning').onclick = function(){
   	  objAlert.warning('Alert Warning');
     }
     document.getElementById('alert-danger').onclick = function(){
   	  objAlert.danger('Alert Danger');
     }
     document.getElementById('alert-wait').onclick = function(){
   	  objAlert.wait('Alert Wait');
     }
     document.getElementById('alert-close').onclick = function(){
   	  objAlert.close();
     }
   </script>