<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="alert-calendar-example"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="calendar"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <button class="btn btn-primary btn-block" id="btnCalendarShowDate" type="button">Show Date</button>
        <div class="checkbox pull-right">
            <label class="control-label">
                <input type="checkbox" value="disabled" id="chkCalendarClose">
                Close
            </label>
        </div>
    </div>
</div>
<script>
    var alertCalendar = new Alert(document.getElementById('alert-calendar-example'));    
    var calendar = new Calendar(document.getElementById('calendar'));    
    calendar.setLegendDaysWeek('Dom,Lun,Mar,Mie,Jue,Vie,Sab');
    calendar.setLegendMonths('Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre');
    calendar.refresh();
    document.getElementById('btnCalendarShowDate').onclick = function () {
        var strDate = calendar.getDate().format('d/M/Y');
        alertCalendar.info(strDate);
    }

    document.getElementById('chkCalendarClose').onclick = function () {
        if (this.checked) {
            calendar.close(function () {
                alertCalendar.success('Calendar: Close');
            });
        } else {
            calendar.open(function () {
                alertCalendar.success('Calendar: Open');
            });
        }
    }




</script>
